h1,
html body section .select,
html body section .select #selected{
	text-align: center;
}

html body{
	background-color: #ebebeb;
}

html body .main,
html body section{
	width: 90%;
	margin: 10px auto;	
}

.content{
	margin-top: 100px;
  	margin-bottom: 100px;
  	margin-right: 150px;
  	margin-left: 80px;
  	padding-top: 5px;
  	padding-bottom: 5px;
	padding-left: 15px;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	  
}

footer p{
	text-align: center;
}

/*media Queries*/
@media (min-width: 1200px) {

}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.content{	  	  
	justify-content: center;
	flex-direction: column;
	width: 100%;
	margin: 20px;
	padding-left: 0px; 
	margin-left: 0px; 
	}

	.content .content-top,
	.content .content-bottom{
		padding: 20px;
	}

}